@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

.container{
    display:flex;
    justify-content: center;
    padding: 30px;
}

.section-title{
  color: blue;
  font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    width: 900px;
    
}

.player{
display: flex;
align-items: center;

}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 25px;
}